@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=League+Gothic&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto Mono", monospace;
}

.navbar__logo, .page-block, .skills__head, .projects__head, .quals__head, .quals__study--item-text, .quals__study--item-img, .about__head, .contact__head, html, body, footer, .navbar__menu__container {
  margin: 0;
  padding: 0;
}

.navbar__menu__container {
  list-style: none;
}

.landing__head, .landing__subhead, .landing__text, .skills__card {
  margin-left: 5%;
  margin-right: 5%;
}

.skills {
  background-color: #3e4b62;
  color: white;
}

.projects {
  background-color: #f4f8ff;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #436495;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: black;
  background-color: #f4f8ff;
  width: 100%;
  transition: 2s;
  position: fixed;
  top: 0;
  z-index: 2;
}
.navbar__logo {
  padding: 10px;
  margin-left: 5vw;
  transition: 1s;
}
.navbar__logo:hover {
  color: #436495;
}
.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.navbar__menu__hBtn {
  padding: 4px 10px 10px 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}
.navbar__menu__hBtn div {
  background-color: black;
  width: 35px;
  height: 5px;
  margin-top: 6px;
  border-radius: 4px;
}
.navbar__menu__hBtn:hover div {
  background-color: #436495;
  transition: 0.5s;
}
@media only screen and (min-width: 768px) {
  .navbar__menu__hBtn {
    display: none;
  }
}
.navbar__menu__container {
  display: none;
}
.navbar__menu__container.--active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
  text-align: right;
}
.navbar__menu__container__item {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .navbar__menu__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  background-image: linear-gradient(#f4f8ff 5%, #3e4b62 95%);
}

.page-block {
  padding: 50px 0px;
  min-height: 100vh;
  width: 100%;
  transform: translate3d(0, 0, 0);
}
@media only screen and (min-width: 576px) {
  .page-block {
    padding: 20px 0px;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  color: black;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 0;
}
.landing__head {
  text-transform: lowercase;
  font-size: 3em;
}
.landing__text {
  background-color: black;
  transition: 0.2s;
}
.landing__text:hover {
  background-color: rgba(0, 0, 0, 0);
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  z-index: 1;
}
.skills__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .skills__head {
    margin: 50px;
    font-size: 2em;
  }
}
.skills__head--left {
  text-align: left;
}
.skills__head--center {
  text-align: center;
}
.skills__head--right {
  text-align: right;
}
.skills__card {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 576px) {
  .skills__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
  }
}
.skills__card--item {
  font-size: 1.5em;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.skills__card--item-text {
  margin-left: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 1;
}
.projects__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .projects__head {
    margin: 50px;
    font-size: 2em;
  }
}
.projects__head--left {
  text-align: left;
}
.projects__head--center {
  text-align: center;
}
.projects__head--right {
  text-align: right;
}
.projects__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 576px) {
  .projects__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.projects__group__item {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 500px;
}
.projects__group__item--title-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.projects__group__item--thumbnail {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
}
.projects__group__item--dscrb {
  padding: 0 20px;
  display: none;
}
@media only screen and (min-width: 992px) {
  .projects__group__item--dscrb {
    display: inline;
  }
}
.projects__group__item:hover img {
  filter: grayscale(100);
}

.quals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3e4b62;
  color: white;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  padding-bottom: 50px;
}
@media only screen and (min-width: 992px) {
  .quals {
    min-height: 45vh;
  }
}
.quals__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .quals__head {
    margin: 50px;
    font-size: 2em;
  }
}
.quals__head--left {
  text-align: left;
}
.quals__head--center {
  text-align: center;
}
.quals__head--right {
  text-align: right;
}
.quals__study {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.quals__study--item {
  margin: 5px 40px;
  text-align: right;
}
.quals__study--item-text {
  margin: 5px;
  text-transform: uppercase;
}
.quals__study--item-img {
  filter: brightness(0%) grayscale(100%) invert(100%);
  transition: 0.5s;
}
.quals__study--item-img:hover {
  filter: none;
}

.about {
  color: black;
  background-color: #f4f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}
.about__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .about__head {
    margin: 50px;
    font-size: 2em;
  }
}
.about__head--left {
  text-align: left;
}
.about__head--center {
  text-align: center;
}
.about__head--right {
  text-align: right;
}
.about__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about h2 {
  margin: 20px;
  padding: 50px;
}
.about-me__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about-me__card--img {
  filter: grayscale(0);
  max-width: 300px;
  border-radius: 200px;
  margin: 0 5vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.about-me__card--text {
  max-width: 360px;
  padding: 10px;
}
.about__signature {
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact__head {
  font-size: 1.7em;
  margin: 20px;
  transition: 0.5s;
}
@media only screen and (min-width: 576px) {
  .contact__head {
    margin: 50px;
    font-size: 2em;
  }
}
.contact__head--left {
  text-align: left;
}
.contact__head--center {
  text-align: center;
}
.contact__head--right {
  text-align: right;
}
.contact a {
  color: black;
}
.contact__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 50px 20px;
}
