// @import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
// @import "./../../sassStyles/variables";

.BookList {
	&__Grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 25%);
		gap: 30px;
		margin: 2% 25px 0 25px;
		padding-bottom: 30px;
	}

	// @media (min-width: ($phone + 1)) and (max-width: $pc) {
	// 	&__Grid {
	// 		display: flex;
	// 		flex-flow: column wrap;
	// 		margin: 80px 30px 0 30px;
	// 		padding-bottom: 25px;
	// 	}
	// }

// 	@media (max-width: $phone) {
// 		&__Grid {
// 			display: flex;
// 			flex-flow: column wrap;
// 			margin: 30px 20px 0 20px;
// 			padding-bottom: 10px;
// 		}
// 	}
}
