@import "./../../sassStyles/variables";

.Footer {
	background-color: $black;
	margin-top: 7%;
	padding: 20px;

	> p {
		color: $white;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 300;
	}
}
